<<<<<<< HEAD
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

@keyframes tilt-n-move-shaking {
    0% { transform: translate(0, 0) rotate(0deg); }
    25% { transform: translate(5px, 5px) rotate(5deg); }
    50% { transform: translate(0, 0) rotate(0eg); }
    75% { transform: translate(-5px, 5px) rotate(-5deg); }
    100% { transform: translate(0, 0) rotate(0deg); }
}

/*configuracion de variables*/
:root{
    --main-color: #B6C4A0;
    --secondary-color: #D7878A;
    --third-color: #EFE7D0;
    --third-color-t: #EED7A1;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: var(--third-color);
}
   
/* Handle */
::-webkit-scrollbar-thumb {
    background:var(--main-color);
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--secondary-color);
}
body{
    background-color: var(--third-color-t);
    color:var(--main-color); 
}

/*ESTILOS HEADER PARA ESCRITORIO*/
.header{
    background-color:var(--third-color);
    color:var(--main-color);
    height: 23vh;
    position:sticky;
    top: 0;
    z-index:10;
    .clima h2 {
        display: flex;
        align-items: center;
        font-size: 1rem;
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;
        background-color: #333333;
    }
    #climaContainer {
        margin-left: 10px; /* Espacio entre el texto y la información del clima */
    }
    }
    .navegacion{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left:40px;
        margin-right: 40px;
        padding: 1.5rem 0;
        .anclaLogo{
            text-decoration: none;
            color: #ffffff;
            font-weight: 700;
            /*animacion hover*/
            &:hover{
                animation: tilt-n-move-shaking 0.30s infinite;
            }
        }
        .listaNav{
            list-style: none;
            display: flex;
            align-items: center;
            .listaItem{
                margin-right:20px;
                .linkNav{
                    text-decoration: none;
                    color:var(--secondary-color);                    font-weight: 700;
                    font-size: 1.1rem;
                    padding: 0.5rem 1rem;
                    /* Agregar efecto de botón presionado */
                    transition: transform 0.3s, box-shadow 0.3s;
                    &:hover {
                        transform: scale(0.95);
                        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
                        border-radius: 5px;
                    }
                }
            }
           
        }
    }
   

/*ESTILOS PARA HEADER MOBILE Y TABLET*/
@media (max-width: 768px) {
    .header{
        height: initial;
        .navegacion{
            margin-left:10px;
            margin-right: 10px;
            flex-direction: column;
            row-gap: 20px;
            .anclaLogo{
                font-size: 1.2rem;
                font-weight:700;
            }
            .listaNav{
               
                padding:initial;
                .listaItem{
                    .linkNav{
                        font-weight: 400;
                        margin-right: initial;
                        font-size: 1rem;
                        padding: 0.2rem;
                        
                    }
                  
                }
            }
        }
    }
}

/*ESTILOS PARA MAIN ESCRITORIO*/
.main{
    .sectionPrincipal{
        color:var(--third-color);
        background:linear-gradient(to right top, #0000008a, #0000008a), url(../assets/img/unsplash.jpg);
        background-size: cover;
        background-position: center;
        height: 85vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        .tituloPrincipal{
            font-size: 3.2rem;
            font-weight: 700;
            margin-bottom: 1rem;
        }
        .subtituloPrincipal{
            font-size: 1.5rem;
            font-weight: 400;
            margin-bottom: 2rem;
        }
        .botonRegistrarse{
            background-color:transparent;
            color: white;
            padding: 1rem 2rem;
            border: 2px solid whitesmoke;
            font-size: 1.2rem;
            font-weight: 700;
            text-decoration: none;
             /* Agrega efecto de botón presionado */
             transition: transform 0.3s, box-shadow 0.3s;
             &:hover {
                transform: scale(0.95);
                box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
             }
        }
    }
    .buscadorPrincipal{
        background-color: var(--third-color-t);
        color:var(--main-color);
        height: 50vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        .tituloSection{
            font-size: 2.5rem;
            font-weight: 700;
            margin-bottom: 1rem;
        }
        .buscadorProductos{
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 1rem;
            .inputBuscador{
                border: 2px solid whitesmoke;
                border-radius: 25px;
                color:var(--main-color);
                font-size: 1.2rem;
                height: 50px;
                margin: 20px 0px;
                outline: none;
                padding: 0px 20px;
                width: 500px;
            }
            .botonBuscador{
                background-color:var(--main-color);
                display: inline-block;
                color: white;
                height: 50px;
                margin: 20px 10px;
                padding:0 20px;
                border-radius: 25px;
                font-size: 1.2rem;
                font-weight: 700;
                border: 2px solid whitesmoke;
                text-align: center;
                 /* Agregar efecto de botón presionado */
                 transition: transform 0.3s, box-shadow 0.3s;
                 &:hover {
                     background-color: transparent;
                     color: var(--main-color);
                     border: 2px solid var(--main-color);
                     transform: scale(0.95);
                     box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
                 }
            }
        }
       
    }
    .productosNovedades{
        width:80%;
        margin: 0 auto;
        text-align: center;
        margin-top: 10px;
        .tituloSection{
            font-size: 2.5rem;
            font-weight: 700;
            margin-bottom: 40px;
        }
        .productos{
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap:60px;
            a{
                text-decoration: none;
                color: whitesmoke;
                .producto{
                    width:200px;
                    height: 300px;
                    position: relative;
                    overflow: hidden;
                    border-radius: 10px;
                    transition: all 0.5s ease;
                   
                    .imgNovedades{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        border-radius: 10px;
                       
                    }
                  
                    .tituloProducto{
                        z-index: 2;
                        position: absolute;
                        text-align: center;
                        top: 50%;
                        left: 50%;
                        max-width: 20rem;
                        width: 100%;
                        transform: translateY(-50%) translateX(-50%);
                        h4 {
                            font-size: 1.6rem;
                            font-weight: bold;
                            opacity: 0;
                            margin-bottom: 0.5rem;
                            letter-spacing: 0.1rem;
                            transition: opacity 0.5s ease-in-out;
    
                        }
                    }
                    &:hover{
                       box-shadow: 0 0 30px var(--secondary-color);
                       transform: scale(0.9);
                      
                    }
                    &:hover .tituloProducto{
                        width: 100%;
                        height: 100%;
                        backdrop-filter: blur(20px);
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                    &:hover h4 {
                        width: 100%;
                        padding: 0.5rem;
                        opacity: 1;
                    }
                 
                }
            }
          
        }
        .boton{
            border: 1px solid white;
            box-sizing: content-box;
            margin-top:50px;
            margin-left:20px;
            background-color:var(--main-color);
            color: #ffffff;
            padding: 1rem 1rem;
            border-radius: 5px;
            font-size: 1rem;
            font-weight: 500;
            text-decoration: none;
            margin-bottom:60px;
             /* Agregar efecto de botón presionado */
             transition: transform 0.3s, box-shadow 0.3s;
             &:hover {
                 background-color:transparent;
                 color: whitesmoke;
                 transform: scale(0.95);
                 box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
             }

        }
    }
    .productosFavoritos{
        width:80%;
        margin: 0 auto;
        text-align: center;
        margin-top: 60px;
        margin-bottom:60px;
        .tituloSection{
            font-size: 2.5rem;
            font-weight: 700;
            margin-bottom: 40px;
        }
        .favoritos{
            overflow-x: scroll;
            overflow-y: hidden;
            border-radius: 10px;
            height: 40vh;
            width: 100%; 
            display: flex;
            justify-content: flex-start;
            align-items: center;
            padding-right: 50px;
            padding-left: 50px;
            .productoItem{
                border-radius: 10px;
                width: 180px;
                min-width: 170px;
                cursor: pointer;
                margin-left: 30px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                position: relative; /* Asegura que el contenedor sea relativo */
                .imgFavorito{
                    border-radius: 10px;
                    width: 100%;
                    height: 180px; /* se Ajusta la altura según sea necesario */
                    transition: transform 0.3s ease;
                    &:hover {
                        transform: scale(1.2); /* Agranda la imagen  */
                        z-index: 0; /* Asegura que la imagen agrandada esté en el frente */ 
                    }                    
                }
            }
        }
    }
   
}

/* Media Queries */
@media (max-width: 768px) {
    .main {
        .productosFavoritos {
            width: 95%;
            .tituloSection {
                font-size: 2rem;
            }
            .favoritos {
                .productoItem {
                    width: 150px;
                    min-width: 150px;
                    font-size: 15px;
                    margin-left: 20px;

                    .imgFavorito {
                        width: 90%;
                        height: 90%;
                    }
                }
            }
        }
    }
}

/*ESTILOS ESCRITORIO FOOTER*/
.footer{
    padding:20px;
    background-color: var(--third-color);
    color:black;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap:20px;
    .navegacion{
        display: flex;
        justify-content: center;
        align-items: center;
        .listaNav{
            list-style: none;
            display: flex;
            align-items: center;
            .listaItem{
                margin-left:20px;
                .linkNav{
                    text-decoration: none;
                    background-color: var(--third-color);
                    font-weight: 700;
                    font-size: 1rem;
                }
            }
        }
    }
    .redes_sociales{
        text-decoration: none;
        align-items: center;
        display: inline-block;
        gap: 10px;
        font-size: 2rem;
        display: flex;
        &:hover {
            transform: scale(0.95);
            box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
            color: #128C7E; /* Color de WhatsApp al pasar el ratón */
        }
    }
    .flechaArriba{
        position: fixed;
        bottom: 20px;
        right: 20px;
        cursor: pointer;
        align-items:flex-end;
    }
}
@media (max-width: 768px) {
    .footer {
        height: initial;
        padding-top: 15px;
        padding-bottom: 20px;
        .listaNav {
            flex-direction: column;
            row-gap: 15px;
            .listaItem {
                .linkNav {
                    font-size: 1rem;
                }
                .administradorProductos {
                    padding: 0.5rem 0.8rem;
                }
            }
        }
        .whatsapp .instagram{
            text-decoration: none;
            display: inline-block;;
            align-items: flex-end;
            gap: 10px;
            font-size: 2rem;
            &:hover{
                transform: scale(0.95);
                box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
            }
            
        }
    }
}

/*ESTILOS ESCRITORIO PARA PAGINA Registrarse */
.bodyRegistrarse{
    height: 100vh;
    background:linear-gradient(to right top, #24242473,#24242473),url("../assets/img/unsplash.jpg");
    background-size: cover;
    background-position: center;
    .headerRegistrarse{
        color:#ffffff;
        height: 8vh;
        padding:30px;
        .anclaLogo{
            text-decoration: none;
            color: #ffffff;
            font-weight: 700;
            font-size: 1.2rem;
             /*animacion hover*/
            &:hover{
                animation: tilt-n-move-shaking 0.25s infinite;
            }
        }
    }
    .main{
         /*seccion de registrarse.html*/
         /* Estilos generales del formulario */
        .seccionRegistrarse{
            background-color:var(--third-color-t);
            width: 30%;
            margin:0 auto;
            border-radius: 5px;
            padding: 40px 20px;
            display: flex;
            flex-direction:column;
            justify-content: center;
            align-items: center;
            height: 110vh;
            font-size:1.2rem;
            .tituloRegistrarse{
                font-size: 2.5rem;
                font-weight: 700;
                margin-bottom: 5px;
                color: var(--secondary-color);
            }
            /*seleccionar todos los input menos el checkbox*/
            form{
                width: 100%;
                padding:40px;
                input:not(.check,.boton),select{
                    width: 100%;
                    margin-bottom: 10px;
                    height: 30px;
                    padding: 0px 20px;
                    font-size: 14px;
                    border-radius: 20px;
                    border: 2px solid var(--secondary-color);
                    
                }
                /* Estilos del placeholder */
                input::placeholder {
                    font-size: 14px; /* Ajusta el tamaño de la fuente del placeholder */
                }

                .error input:not(.check,.boton),.error select{
                    border: 1px solid #ff0000;
                }
                .error-text{
                    color: #ff0000;
                    font-size: 0.8rem;
                    margin-top:0px;
                    margin-bottom: 10px;
                }
                .terminos{
                    font-size: 0.8rem;
                    display: flex;
                    align-items: center;
                    margin-bottom: 20px;
                    color: black;
                    .textoCheck{
                        margin-left: 10px;
                    }
                }
                .boton{
                    width: 87%;
                    box-sizing: content-box;
                    background-color: var(--secondary-color);
                    border: 2px solid var(--secondary-color);
                    color: #ffffff;
                    padding: 1rem 1rem;
                    border-radius: 5px;
                    font-size: 1rem;
                    font-weight: 500;
                    
                }
                .ayuda{
                    margin-top:40px;
                    font-size: 1rem;
                    text-decoration: none;
                    color: #787878;
                    font-weight:400;
                   
                }
                
                
            }           
        }
        
    }
}
       
        
/*media querys para mobile PAGINA registrarse*/
@media (max-width: 1200px) {
    .bodyRegistrarse{
        .headerRegistrarse{
            padding:20px;
            .anclaLogo{
                font-size: 1rem;
            }
        }
        .main{
            .seccionRegistrarse{
                width: 95%;
                padding: 10px 10px;
                .tituloRegistrarse{
                    font-size: 2rem;
                }
               form{
                    width: 100%;
                    text-align: center;
               
                    input:not(.check,.boton),select{
                        width: 80%;
                        height: 35px;
                        font-size: 1rem;
                    }
                    .terminos{
                        width: 80%;
                        margin:0 auto;
                        font-size: 0.7rem;
                    }
                    .boton{
                        margin-top: 20px;
                        margin-bottom: 20px;
                        width: 70%;
                        padding: 0.8rem 0.8rem;
                        font-size: 0.8rem;
                    }  
                    
                }               
            }
            
        }
        
    }

}

/*ESTILOS ESCRITORIO Detalle */
.mainDetalle{
    
    .detalle{
        padding-top:50px;
        background:linear-gradient(to right top, #6d6969a7, #6d6969a7),url("../assets/img/novedades/bandejamate.png");
        background-size: cover;
        background-position: center;
        height: 100vh;
        .contenedorDetalle{
            color: whitesmoke;
            width:75%;
            margin: 0 auto;
            display: flex;
            justify-content: center;
            align-items: center;
            column-gap: 60px;
            img{
              border-radius: 20px;
            }
            .textoDetalle{
                h1{
                    font-size: 2.2rem;
                    font-weight: 700;
                }
                h2{
                    margin-top:20px;
                }
                .contenedorFicha{
                    margin-top:20px;
                    display: flex;
                    justify-content:space-between;
                }
            }
        }
        
        
       
    }

}
/*ESTILOS MOBILE Y TABLETS DETALLE*/
@media screen and (max-width:1200px){
    .mainDetalle{
        .detalle{
            height: initial;
            .contenedorDetalle{
                flex-direction: column;
                row-gap: 20px;
                img{
                    width: 100%;
                    height: 300px;
                }
                .textoDetalle{
                    h1{
                        font-size: 1.5rem;
                    }
                    h2{
                        font-size: 1rem;
                    }
                    .contenedorFicha{
                        flex-direction: column;
                        row-gap: 10px;
                    }
                }
            }
        }
    }
}

hr{
    border: 1px solid var(--secondary-color);
    width: 80%;
    margin: 0 auto;
    margin-top: 40px;
}

.wrapper {
    background-color: var(--third-color-t);
    margin: 40px;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 300px 300px;
    background-color:var(--main-color);
    }
    .box {
        align-content:center;
        justify-content: center;
        background-color: var(--third-color-t);
        color: var(--secondary-color);
        padding: 20px;
        font-size: 130%;
        h5{
            font-size: larger;
        }
    }
  
    .a {
      grid-column: 1 / span 2;
    }
    .b {
      grid-column: 3 ;
      grid-row: 1 / span 2;
    }
    .c {
      grid-column: 1 ;
      grid-row: 2 ;
    }
    .d {
      grid-column: 2 ;
      grid-row: 2 ;
    }

    
=======
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@font-face {
    font-family: 'Nunito', sans-serif;
    src: url("../assets/fonts/NotoSans-Italic-VariableFont_wdth\,wght.ttf");
}

/*reseteo de valores*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

/*configuracion de variables*/
:root{
    --main-color: #000000;
    --secondary-color: #fafafaf1;
    --third-color: #e2cdcd;
    --third-color-t: #060484bc;
}

::-webkit-scrollbar {
    width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
    background: rgba(240, 238, 238, 0.897);
}
   
/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(240, 238, 238, 0.897);
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgba(240, 238, 238, 0.897);
}

/*estilos del body*/
body{
    background-color: var(--secondary-color);
    color: var(--main-color);
}

/*ESTILOS HEADER PARA ESCRITORIO*/
.header{
    background-color: fafafaf1;
    height: 20vh;
    position:sticky;
    top:0;  
    z-index: 10;
    nav{
        height: 100%;
        display:flex;
        align-items: center;
        justify-content: space-between;
        a{
            text-decoration: none;
            color: var(--main-color);
            .logo{
                animacion hover
            &:hover{
                animation: tilt-n-move-shaking 0.25s infinite;
            }
            }
        }
        ul{
            font-size: 1.4rem;
            list-style: none;
            display: flex;
            column-gap: 30px;
            a{
                font-size:1.4rem;
            }
        }
    }
}


/*ESTILOS PARA HEADER MOBILE Y TABLET*/

@media (max-width: 768px) {
    .header{
        height: initial;
        .navegacion{
            margin-left:10px;
            margin-right: 10px;
            flex-direction: column;
            row-gap: 20px;
            .anclaLogo{
                font-size: 1.2rem;
                font-weight:700;
            }
            .listaNav{
                padding:initial;
                .listaItem{
                    .linkNav{
                        font-weight: 400;
                        margin-right: initial;
                        font-size: 1rem;
                        padding: 0.2rem;
                        
                    }
                  
                }
            }
        }
    }
}

/*ESTILOS PARA MAIN ESCRITORIO*/
.main{
    height: 85vh;
    background: linear-gradient(to bottom, #00000075, #424141ee),url("../assets/img/unsplash.jpg");
    .sectionPrincipal{
        background-size: cover;
        background-position: center;
        height: 90vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        .tituloPrincipal{
            font-size: 4rem;
            font-weight: 700;
            margin-bottom: 1rem;
        }
        .subtituloPrincipal{
            font-size: 2.2rem;
            font-weight: 400;
            margin-bottom: 1rem;
        }
        .botonRegistrarse{
            background-color:#940920;
            color: #0e0d0d;
            padding: 1rem 2rem;
            border-radius: 5px;
            font-size: 1.2rem;
            font-weight: 700;
            text-decoration: none;
             /* Agregar efecto de botón presionado */
             transition: transform 0.3s, box-shadow 0.3s;
             &:hover {
                 background-color: #9f3647;
                 transform: scale(0.95);
                 box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
             }
        }
    }
    .buscadorPrincipal{
        background-color: #181419;
        color:rgb(255, 255, 255);
        height: 50vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        .tituloSection{
            font-size: 2.5rem;
            font-weight: 700;
            margin-bottom: 1rem;
        }
        .buscadorPeliculas{
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 1rem;
            .inputBuscador{
                border: 2px solid white;
                border-radius: 25px;
                color: #000000;
                font-size: 1.2rem;
                height: 50px;
                margin: 20px 0px;
                outline: none;
                padding: 0px 20px;
                width: 500px;
            }
            .botonBuscador{
                background-color:#9f3647;
                display: inline-block;
                color:#ffffff;
                height: 50px;
                margin: 20px 10px;
                padding:0 20px;
                border-radius: 25px;
                font-size: 1.2rem;
                font-weight: 700;
                border: 2px solid white;
                text-align: center;
                 /* Agregar efecto de botón presionado */
                 transition: transform 0.3s, box-shadow 0.3s;
                 &:hover {
                     background-color: #9f3647;
                     transform: scale(0.95);
                     box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
                 }
            }
        }
       
    }
    .peliculasTendencia{
        width:80%;
        margin: 0 auto;
        text-align: center;
        margin-top: 10px;
        .tituloSection{
            font-size: 2.5rem;
            font-weight: 700;
            margin-bottom: 40px;
        }
        .peliculas{
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap:60px;
            a{
                text-decoration: none;
                color: #ffffff;
                .pelicula{
                    width:200px;
                    height: 300px;
                    position: relative;
                    overflow: hidden;
                    border-radius: 10px;
                    transition: all 0.5s ease;
                   
                    .imgTendencia{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        border-radius: 10px;
                       
                    }
                  
                    .tituloPelicula{
                        z-index: 2;
                        position: absolute;
                        text-align: center;
                        top: 50%;
                        left: 50%;
                        max-width: 20rem;
                        width: 100%;
                        transform: translateY(-50%) translateX(-50%);
                        h4 {
                            font-size: 1.6rem;
                            font-weight: bold;
                            opacity: 0;
                            margin-bottom: 0.5rem;
                            letter-spacing: 0.1rem;
                            transition: opacity 0.5s ease-in-out;
    
                        }
                    }
                    &:hover{
                       box-shadow: 0 0 30px #9f3648cd;
                       transform: scale(0.9);
                      
                    }
                    &:hover .tituloPelicula{
                        width: 100%;
                        height: 100%;
                        backdrop-filter: blur(20px);
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                    &:hover h4 {
                        width: 100%;
                        padding: 0.5rem;
                        opacity: 1;
                    }
                 
                }
            }
          
        }
        .boton{
            border: 1px solid white;
            box-sizing: content-box;
            margin-top:50px;
            margin-left:20px;
            background-color:#9f3647;
            color: #ffffff;
            padding: 1rem 1rem;
            border-radius: 5px;
            font-size: 1rem;
            font-weight: 500;
            text-decoration: none;
            margin-bottom:60px;
             /* Agregar efecto de botón presionado */
             transition: transform 0.3s, box-shadow 0.3s;
             &:hover {
                 background-color: #9f3647;
                 transform: scale(0.95);
                 box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
             }

        }
    }
    .peliculasAclamadas{
        width:80%;
        margin: 0 auto;
        text-align: center;
        margin-top: 10px;
        margin-bottom:60px;
        .tituloSection{
            font-size: 2.5rem;
            font-weight: 700;
            margin-bottom: 40px;
        }
        .aclamadas{
            overflow-x: scroll;
            overflow-y: hidden;
            width: 100%;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            padding: 0px 0px 40px 0px;
            .peliculaItem{
                border-radius: 25px;
                width: 170px;
                min-width: 170px;
                font-size: 20px;
                cursor: pointer;
                margin-left: 30px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
               
                .imgAclamada{
                    border-radius: 5%;
                    width: 95%;
                    height: 95%;
                    object-fit: cover;
                }
                
            }
           
        
        }
    }
   
}

@media (max-width: 768px) {
    .main{
        .sectionPrincipal{
            height: 60vh;
            .tituloPrincipal{
                font-size: 2.5rem;
            }
            .subtituloPrincipal{
                font-size: 1.5rem;
            }
            .botonRegistrarse{
                padding: 0.8rem 1.5rem;
                font-size: 1rem;
            }
        }
        .buscadorPrincipal{
            height: 30vh;
            .tituloSection{
                font-size: 1.6rem;
            }
            .buscadorPeliculas{
                .inputBuscador{
                    font-size: 1rem;
                    height: 40px;
                    width: 300px;
                }
                .botonBuscador{
                    height: 40px;
                    padding:0 15px;
                    font-size: 1rem;
                }
            }
        }
        .peliculasTendencia{
            width: 95%;
            .tituloSection{
                font-size: 2rem;
            }
            .peliculas{
                flex-direction: column;
                justify-content: center;
                align-items: center;
              
                a{
                    width: 100%;
                    .pelicula{
                        width: 100%;
                        height: 500px;
                       
                        .tituloPelicula{
                            h4 {
                                font-size: 1rem;
                            }
                        }
                       
                    }
                }
              
               
            }
            .boton{
                padding: 0.8rem 0.8rem;
                font-size: 0.8rem;
            }
        }
        .peliculasAclamadas{
            .tituloSection{
                font-size: 2rem;
            }
            .aclamadas{
                .peliculaItem{
                    width: 150px;
                    min-width: 150px;
                    font-size: 15px;
                    margin-left: 20px;
                    .imgAclamada{
                        width: 90%;
                        height: 90%;
                    }
                }
            }
        }
    }
}

/*ESTILOS ESCRITORIO FOOTER*/
.footer{
    background-color:#9f3647;
    color:#ffffff;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .listaNav{
        list-style: none;
        display: flex;
        align-items: center;
        .listaItem{
            margin-left:20px;
            .linkNav{
                text-decoration: none;
                color:#ffffff;
                font-weight: 700;
                font-size: 1.2rem;
            }
            .administradorPeliculas{
                background-color: #181419;
                color: white;
                padding: 0.5rem 1rem;
                border-radius: 5px;
            }
        }
    }
    .flechaArriba{
        position: fixed;
        bottom: 20px;
        right: 20px;
        color: white;
        cursor: pointer;
    }
}
/*ESTILOS FOOTER CELULAR Y TABLET CHICA*/
@media (max-width: 768px) {
    .footer{
        height: initial;
        padding-top:15px;
        padding-bottom: 20px;
        .listaNav{
            flex-direction: column;
           
            row-gap: 15px;
            .listaItem{
                
                .linkNav{
                    font-size: 1rem;
                }
                .administradorPeliculas{
                    padding: 0.5rem 0.8rem;
                }
            }
        }
    }
}




/*ESTILOS ESCRITORIO PARA PAGINA Registrarse */
.bodyRegistrarse{
    height: 100vh;
    background:linear-gradient(to right top, #24242473,#24242473),url("../assets/img/bg-register.jpg");
    background-size: cover;
    background-position: center;
    .headerRegistrarse{
        color:#ffffff;
        height: 8vh;
        padding:30px;
        .anclaLogo{
            text-decoration: none;
            color: #ffffff;
            font-weight: 700;
            font-size: 1.2rem;
             /*animacion hover*/
            &:hover{
                animation: tilt-n-move-shaking 0.25s infinite;
            }
        }
    }
    .main{
         /*seccion de registrarse.html*/
        .seccionRegistrarse{
            background-color:rgb(42, 42, 42);
            width: 30%;
            margin:0 auto;
            border-radius: 5px;
            padding: 40px 20px;
            display: flex;
            flex-direction:column;
            justify-content: center;
            align-items: center;
            height: 90vh;
            font-size:1.2rem;
            .tituloRegistrarse{
                font-size: 2.5rem;
                font-weight: 700;
                margin-bottom: 20px;
            }
            /*seleccionar todos los input menos el checkbox*/
            form{
                width: 100%;
                padding:40px;
                input:not(.check,.boton),select{
                    width: 100%;
                    margin-bottom: 10px;
                    height: 40px;
                    padding: 0px 20px;
                    font-size: 1.2rem;
                    border-radius: 20px;
                    border: 2px solid #9f3647;
                    background-color: #333333;
                    outline: none;
                    color:rgb(255, 255, 255);
                }
                .error input:not(.check,.boton),.error select{
                    border: 1px solid #ff0000;
                }
                .error-text{
                    color: #ff0000;
                    font-size: 0.8rem;
                    margin-top:0px;
                    margin-bottom: 10px;
                }
              
                .terminos{
                    font-size: 0.8rem;
                    display: flex;
                    align-items: center;
                    margin-bottom: 20px;
                    .textoCheck{
                        margin-left: 10px;
                    }
                }
                .boton{
                    width: 87%;
                    box-sizing: content-box;
                    background-color:#9f3647;
                    border: 2px solid #9f3647;
                    color: #ffffff;
                    padding: 1rem 1rem;
                    border-radius: 5px;
                    font-size: 1rem;
                    font-weight: 500;
                   
                }
                .ayuda{
                    margin-top:40px;
                    font-size: 1rem;
                    text-decoration: none;
                    color: #787878;
                    font-weight:400;
                   
                }
            }
           
        }
   
    }
}



/*media querys para mobile PAGINA registrarse*/
@media (max-width: 1200px) {
    .bodyRegistrarse{
        .headerRegistrarse{
            padding:20px;
            .anclaLogo{
                font-size: 1rem;
            }
        }
        .main{
            .seccionRegistrarse{
                width: 95%;
                padding: 10px 10px;
                .tituloRegistrarse{
                    font-size: 2rem;
                }
               form{
                width: 100%;
                text-align: center;
               
                input:not(.check,.boton),select{
                    width: 80%;
                    height: 35px;
                    font-size: 1rem;
                }
                .terminos{
                    width: 80%;
                    margin:0 auto;
                    font-size: 0.7rem;
                }
                .boton{
                    margin-top: 20px;
                    margin-bottom: 20px;
                    width: 70%;
                    padding: 0.8rem 0.8rem;
                    font-size: 0.8rem;
                }
                .ayuda{
                    text-align: left;
                    font-size: 0.8rem;
                }
               }
               
            }
        }
    }

}

/*ESTILOS ESCRITORIO Detalle Mario*/
.mainDetalle{
    
    .detalle{
        padding-top:50px;
        background:linear-gradient(to right top, #6d6969a7, #6d6969a7),url("../assets/img/mario-bg.jpg");
        background-size: cover;
        background-position: center;
        height: 70vh;
        .contenedorDetalle{
            width:75%;
            margin: 0 auto;
            display: flex;
            justify-content: center;
            align-items: center;
            column-gap: 60px;
            img{
              border-radius: 20px;
            }
            .textoDetalle{
                h1{
                    font-size: 2.2rem;
                    font-weight: 700;
                }
                h2{
                    margin-top:20px;
                }
                .contenedorCreditos{
                    margin-top:20px;
                    display: flex;
                    justify-content:space-between;
                }
            }
        }
        
        
       
    }
    .trailer{
        padding-top:150px;
        padding-bottom: 100px;
        width:75%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: 70px;
        .contenedorInfo{
            .redes{
                margin-bottom: 20px;
                ul{
                    list-style: none;
                    display: flex;
                    column-gap: 20px;
                    li{
                        a{
                            text-decoration: none;
                            color: #ffffff;
                            font-size: 2.5rem;
                            margin-right: 50px;
                        }
                    }
                  
                }
            }
            .info{
                table{
                    width: 100%;
                    tr{
                        td{
                            font-size: 1.2rem;
                            padding: 10px 0px;
                        }
                    }
                }
            }
        }
    }

}
/*ESTILOS MOBILE Y TABLETS DETALLE*/
@media screen and (max-width:1200px){
    .mainDetalle{
        .detalle{
            height: initial;
            .contenedorDetalle{
                flex-direction: column;
                row-gap: 20px;
                img{
                    width: 100%;
                    height: 300px;
                }
                .textoDetalle{
                    h1{
                        font-size: 1.5rem;
                    }
                    h2{
                        font-size: 1rem;
                    }
                    .contenedorCreditos{
                        flex-direction: column;
                        row-gap: 10px;
                    }
                }
            }
        }
        .trailer{
            width:95%;
            padding-top:50px;
            padding-bottom: 50px;
            flex-direction: column;
            row-gap: 20px;
            .contenedorTrailer{
                width: 100%;
                h2{
                    margin-bottom: 20px;
                }
                iframe{
                    width: 100%;
                    height: 300px;
                
                }
            }
            .contenedorInfo{
                width: 100%;
                .redes{
                    width: 100% ;
                    ul{
                        width: 100%;
                        display: flex;
                        justify-content: space-between;
                       
                        li{
                            a{
                                font-size: 2rem;
                                margin-right: 20px;
                            }
                        }
                    }
                }
                .info{
                    table{
                        tr{
                            td{
                                font-size: 1rem;
                            }
                        }
                    }
                }
            }
        }
    }
}

hr{
    border: 1px solid #9f3647;
    width: 80%;
    margin: 0 auto;
    margin-top: 40px;
}

/*




generalidades
h1{
    font-size: 3.5rem;
    font-weight: 700;
    margin-bottom: 20px;
    margin-top: 20px;
   
}
h2{
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 20px;
}
h3{
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 20px;
}

media querys para dispositivos hasta 800px para el h1, h2 y h3
@media screen and (max-width: 800px) {
    h1{
        font-size: 2.2rem;
    }
    h2{
        font-size: 1.8rem;
    }
    h3{
        font-size: 1rem;
    }

}


header,footer{
    background-color: var(--third-color);
    color: var(--main-color);
    padding: 10px;
}


@media screen and (max-width: 800px) {
    .header{
       height:initial;
       nav{
         flex-direction: column;
         row-gap: 20px;
         ul{
             flex-direction: column;
             row-gap: 10px;
         }
       }
 
    }
     
 }
 /*main
 estilos seccion principal
  
.Principal{
    height: 85vh;
    background: linear-gradient(to bottom, #00000075, #424141ee),url("../assets/img/unsplash.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    .contenidoPrincipal{
        text-align: center;
        backdrop-filter: blur(5px);efecto blur a un contenedor
        width:60%;
        margin:0 auto;
        border-radius: 5px;
        a{
            margin-top: 20px;
            display: inline-block;
            text-decoration: none;
            color:var(--main-color);
            font-size: 1rem;
            border:2px solid var(--main-color);
            border-radius: 5px;
            padding:10px 20px;
        }
    }
}

@media screen and (max-width: 800px) {
    .Principal{
        height: 75vh;
        background:linear-gradient(to bottom, #000000a3, #000000a3),url("../assets/img/bg_mobile.jpg");
        .contenidoPrincipal{
            width: 90%;
            backdrop-filter:initial;
            a{boton de registrarse de la seccion de arriba
                font-size: 1.5rem;
            }
        }
    }
  
}

.novedades{
    width: 80%;
    margin:0 auto;
    text-align: center;
    h2{
        margin-top:50px;
        margin-bottom:20px;
    }

    .galeriaNovedades{
        display:flex;
        justify-content: space-evenly;
        gap: 20px;
        flex-wrap: wrap;
        margin-bottom:20px;
        div{
            box-shadow: 17px 17px 5px -10px rgba(0,0,0,0.24);
            width: 250px;
            height: 350px;
            border-radius: 30px;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 30px; 
                transform: translate(100px, 50px);
                transform: translate(100px, 50px) scale(1);
                transform: translate(100px, 50px) rotate(60deg) scale(1);
                transform: translate(100px, 50px) rotate(70deg) scale(1) skew(30deg, 30deg);
                transform: translate(100px, 50px); 
                transition: all 2s ease-in-out;  
                &:hover{
                    transform: scale(1.1);        
                }
        }
    } 

    button{
        margin-bottom: 20px;
    } 
}
}
.favoritas{
    .tituloSection{
        font-size: 2rem;
    }
    .galeriaFavoritas{
        img{
            width: 150px;
            min-width: 150px;
            font-size: 15px;
            margin-left: 20px;
            .imgAclamada{
                width: 90%;
                height: 90%;
            }
        }
    }
}

Estilos adicionales si deseas alinearlos a la derecha 
footer{
    img {
    margin-right: 10px; Margen derecho para separar los iconos 
    }
}*/

/* Estilos para la tabla del clima - API de https://home.openweathermap.or */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
}

/* Estilos adicionales para el contenido del clima */
#climaContainer {
    margin-top: 30px;
}
>>>>>>> 2c24e2ce2b0187d60b2f7cdee34f20533db95ebc
