/*CSS
ESTO ES UN COMENTARIO MULTI-LINEA

SINTAXIS BASICA DE CSS:

selector {
    propiedad:valor;
    propiedad:valor;
    n...
}
3 selectores basicos
id: #id
clase: .clase
etiqueta: etiqueta

id > clase > etiqueta

cascada:
si dos selectores tienen la misma propiedad, y los dos selectores tienen la misma especificidad, se aplica el valor a la propiedad que este mas abajo

especificidad mata cascada!!
*/

h1{
    /*la propiedad color le da color a la fuente*/
    color: #055c39;
}

/*
p{
    /*la propiedad font-size le da tamaño a la fuente
    font-size: 20px;
    text-align: center;
    color:blue;
    background-color: #a4a4a4;
}*/

/*clase*/
.colorVioleta{
    color: #8a2be2;
}
.colorRosa{
    color: #f276b4;

}
/*nomenclatura para escribir los nombres de las clases: camelCase- Bem*/
.fuenteMediana{
  font-size: 30px;
}

#header{
    padding: 20px;
    text-align: center;
}

.fondoRosa{
    background-color: #f276b4;
}


#h2{
    background-color: #e2892b;
}
.bgRosa{
    background-color: #f276b4;
}
.bgVioleta{
    background-color: #8a2be2;
}

.colorRojo{
    color: #ff0000;
}

/*Selector descendiente-- llamo al hijo por el padre*/
.main{
    background-color: bisque;

}
.main .seccionDetalle{
    background-color: #f276b4;
    color:yellow;
}

main .seccionDetalle{
    background-color: #f4007a;
    font-size: 50px;
}

.seccionDetalle{
    background-color: #154008;
    color:white;
    text-align: center;
    font-size:30px;
}

/*anidaciones*/

.main{
    background-color: bisque;
    .seccionDetalle{
        background-color: #f276b4;
        color:yellow;
       
    }
    .seccionDetalle{
        background-color: #f4007a;
        font-size: 50px;
    
    }
}

/*clases utilitarias y no las anidamos*/
.colorVioleta{
    color: #8a2be2;
}

.seccionDetalle > *{
    color: #8a2be2;
}

.galeriaAclamadas > img{
    width: 200px;
}