/*importaciones de fuentes*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
/*las animaciones*/
/*reseteo de valores*/
/*regla font-face para fuente descargada*/
/*
@font-face {
    font-family: 'Noto Sans';
    src: url("../assets/fonts/NotoSans-VariableFont_wdth\,wght.ttf");
}*/

*{
    font-family: "Noto Sans", sans-serif;
}
/*configuracion de usuario root*/
/*clases utilitarias con sus valores*/
/*estilos generales
header 
nav
link
main
section
footer
*/

/*terminar de ver fuentes - unidades de medidas de fuentes

variables de usuario root
background: color - gradientes - imagenes - filtros
box model - padding - margin - border - width - height - box-shadow - boder-radius
reseteo
overflow 
display : block - inline - inline-block 
position : relative - absolute - fixed - sticky
*/

/*
dudas
flexbox

*/
