
/*importaciones de fuentes*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
/*regla font-face para fuente descargada*/
@font-face {
    font-family: 'Noto Sans';
    src: url("../assets/fonts/NotoSans-Italic-VariableFont_wdth\,wght.ttf");
}

/*reseteo de valores*/
*{
    margin: 0;
    padding: 0;
}
h1{
    opacity: 1;
}

body{
    background-color: pink;
}

.contenedorImag{
    border-radius: 14px 14px 15px 16px;
-webkit-border-radius: 14px 14px 15px 16px;
-moz-border-radius: 14px 14px 15px 16px;
border: 2px solid #8a7572;
}
/*
.whatsapp-icon {
    background: green; 
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 50px; 
}

*/
.fa-whatsapp{
    position: fixed;
    bottom: 20px;
    right: 20px;
    color: #107d38;
    font-size: 50px; 
}


ul{
    list-style: none;
    a{
        text-decoration: none;
        color:black;
    }
}

.botonRegistrar{
    text-decoration: none;
    color:black;
}

header{
    background-color:#FFEDE6;
    padding: 10px;
    position: sticky;
    top: 0;
    ul{
        list-style: none;
        text-align: center;
        li{
            margin-top:30px;
            margin-bottom: 40px;
            display: inline-block;
            a{
                display:inline-block;
                text-decoration: none;
                color: #534d50;
                width: 150px;
                text-align: center;
                padding: 10px;
                border: 1px solid #3c1597;
                margin-right: 20px;
            }
           
        }
       
    }
}
/*las animaciones*/




/*configuracion de usuario root*/
/*clases utilitarias con sus valores*/
/*estilos generales
header 
nav
link
main
section
footer
*/

/*terminar de ver fuentes - unidades de medidas de fuentes

variables de usuario root
background: color - gradientes - imagenes - filtros
box model - padding - margin - border - width - height - box-shadow - boder-radius
reseteo
overflow 
display : block - inline - inline-block 
position : relative - absolute - fixed - sticky
*/

/*
dudas
flexbox

*/
